# Файл конфигурации пакетных имён приложений
#
# --- Описание формата ---
#
# Сопоставление приложений в определённом пространстве пользователя по ID
# Формат: <userID>:<packageName>
# 
# Пример:
# 999:com.example.app  (Work Profile)
# 0:com.example.app    (основное пространство пользователя)
# 10:com.example.app   (приложения пользователя 10)